/* Variables */
:root {
    --table-border-color: #ddd;
    --table-header-bg: #f2f2f2;
    --even-row-bg: #f9f9f9;
    --hover-row-bg: #e0f7fa;
    --input-button-padding: 5px;
    --input-button-margin: 5px;
    --pagination-button-padding: 8px 12px;
}

/* Table Styles */
.table_card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px; /* Simplified margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin: 20px 0;
    box-shadow: 0 4px 4px rgba(249, 249, 249, 0.884)
}

th, td {
    border: 1px solid var(--table-border-color);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--table-header-bg);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--even-row-bg);
}

tr:hover {
    background-color: var(--hover-row-bg);
}

/* Invoice Filter Styles */
#invoiceFilterContainer {
    display: flex;
    align-items: center;
}

#invoiceFilterContainer label {
    margin-right: var(--input-button-margin);
}

#invoiceFilter {
    padding: var(--input-button-padding);
    box-sizing: border-box;
}

/* Search/Filter Row Styles */
.search-filter-row {
    background-color: var(--table-header-bg);
    font-weight: bold;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.search-input-group {
    display: flex;
    align-items: center;
}

.search-label {
    display: block;
}

.search-input, .filter-input {
    padding: var(--input-button-padding);
    box-sizing: border-box;
    margin-right: var(--input-button-margin);
}

.search-input {
    width: 200px;
}

.filter-input {
    width: 150px;
}

.search-button, .print-button, .read-button {
    padding: 5px 10px;
    margin-right: var(--input-button-margin);
    background-color: aqua;
    border: 0px;
    transition: background-color 0.3s ease;
}
.read-button {
    border-radius: 15px;
}.search-button:hover, .print-button:hover, .read-button:hover {
    background-color: limegreen; 
}

/* Pagination Styles */
.pagination-row {
    text-align: center;
    padding: 10px;
}

.pagination-container {
    display: inline-block;
}

.pagination-button {
    padding: var(--pagination-button-padding);
    margin: 0 5px;
}

.current-page {
    padding: var(--pagination-button-padding);
    font-weight: bold;
}