.nav_bar {
    background-color: white; 
    padding: 10px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    /* z-index: 100; */
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    margin-left: 200px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)
}
.nav_bar .search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px; 
    border-radius: 4px;
    border: 1px solid #070707;
}

.nav_bar .search input[type="search-text"] {
    padding: 8px;
    border: none; 
    border-right: 1px solid blue;
    border-radius: 4px 0 0 4px; 
    margin-right: 5px;
    outline: none;
}
.nav_bar .search button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    /* color: white; */
    border-radius: 0 4px 4px 0; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.nav_bar .search button:hover {
    background-color: #3ec57b;
}

.side {
    background-color: #333;
    width: 200px;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); 
}

.side h3,
.side ul,
.side li {
    color: white;
}

.side ul {
    list-style-type: style;
    padding: 0;
}

.side li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.side li:hover {
    background-color: #444; /* Darken list items on hover */
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 220px;
    margin-top: 60px; /* Adjusted to match navbar height + padding */
}

.card,
.data {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px; /* Simplified margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2,
.data h2 {
    margin-top: 0; /* Remove top margin from headings */
}